<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Аренда успешно оформлена</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
  <h1>Успешная аренда</h1>
</header>
<div class="back-to-home">
  <a href="/home">Домой</a>
</div>
<div>
  <p>Поздравляем, вы успешно арендовали недвижимость!</p>
  <p>Вы можете вернуться на главную страницу или продолжить поиск недвижимости.</p>
  <a href="/home">Перейти на главную</a>
  <a href="/search">Перейти к поиску</a>
</div>

<footer>
  <p>Online Rent Platform © 2024</p>
</footer>
</body>
</html>
